# Password of the DB on current machine
POSTGRES_PASSWORD=password1
# DB on another machine
QUEUE_DB_URL=postgresql://postgres:password2@10.0.0.0:5432/queue
GOOGLE_MAPS_API_KEY=
DOMAIN=example.com
ACME_EMAIL=you@example.com