POSTGRES_PASSWORD=password1
PLACES_DB_URL=postgresql://postgres:password2@10.0.0.0:5432/places
R2_USER_TOKEN=
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=name_of_bucket
R2_PUBLIC_URL=https://images.example.com