gmp-map {
  display: block;
  height: 60vh;
}

.place-card {
  border-bottom: 1px solid #000000;
  padding: 8px 0;
  content-visibility: auto;
  contain-intrinsic-size: 0 200px;
}

.preview-photo {
  display: block;
  max-width: 20vw;
}
